* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.main {
	background: linear-gradient(90deg, #b9deed, #efefef);
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(20, 1fr);
	grid-template-rows: repeat(20, 1fr);
	overflow: hidden;
}
.snake {
	position: relative;
	background-color: transparent;
	grid-row-end: 2;
	grid-column-end: 2;
	width: 60%;
	height: 100%;
	border-radius:  50%;
	margin: 0 auto;
	transition: all ease .25s ;
	border-left:  35px solid green;
	border-top:  35px solid green;
	transform: rotate(315deg);
}
.snake:after{
	position: absolute;
	content: '';
	width: 10px;
	height: 10px;
	background-color: black;
	top:  -17px;
	left:  5px;
	border-radius: 50%;
}
.button {
	position: absolute;
	bottom: 100px;
	left: 50px;
	width: 200px;
	height: 35px;	
	opacity: .5;
}
.button-top {
	left: 250px;
	bottom: 135px;
}
.button-right {
	left: 450px;
}
.button-bottom {
	left: 250px;
}
.button-start {
	left:  225px;
	bottom:  25px;
	width: 250px;
	height: 50px;
}
.score {
	position: absolute;
	top:  100px;
	right:  100px;
	width: 250px;
	height: 25px;
	background-color: #fff;
	text-align: center;
	font-size:  22px;
}
.timer {
	position: absolute;
	top:  50px;
	right:  100px;
	width: 250px;
	height: 25px;
	font-size: 22px;
	text-align: center;
	background-color: #fff;
}
.point {
	display: flex;
	justify-content: center;
	background-color: gold;
	border-radius:  50%;
	margin: 5px auto;
	width: 30%;
	height: 50%
}
