* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.main {
	width: 900px;
	height: 900px;
	border:  2px solid black;
	margin: 10px auto;
	display: grid;
	grid-template-columns: repeat(20, 45px);
	grid-template-rows: repeat(20, 45px);
	overflow: hidden;
	position: relative;
}
.main-bg {
	background: linear-gradient(90deg, #b9deed, #efefef);
	height: 100vh;
}
.snake {
	position: relative;
	background-color: transparent;
	grid-row-end: 2;
	grid-column-end: 2;
	width: 100%;
	height: 100%;
	border-radius:  50%;
	transition: all ease .25s ;
	border-left:  28px solid green;
	border-top:  28px solid green;
	transform: rotate(315deg);
}
.enemy {
	position: relative;
	background-color: black;
	grid-row-start: 10;
	grid-row-end: 12;
	grid-column-start: 10;
	grid-column-end: 12;
	width: 100%;
	height: 100%;
	border-radius:  50%;
	transition: all ease .25s ;
	z-index: 5;
}
.snake:after{
	position: absolute;
	content: '';
	width: 8px;
	height: 8px;
	background-color: black;
	top:  -15px;
	left:  5px;
	border-radius: 50%;
}
.button {
	position: absolute;
	bottom: 100px;
	left: 50px;
	width: 200px;
	height: 35px;	
	opacity: .5;
}
.score {
	position: absolute;
	top:  100px;
	left:  50px;
	width: 250px;
	height: 25px;
	font-size: 22px;
	text-align: center;
	background-color: #fff;
}
.timer {
	position: absolute;
	top:  50px;
	left:  50px;
	width: 250px;
	height: 25px;
	font-size: 22px;
	text-align: center;
	background-color: #fff;
}
.point {
	position: relative;
	display: flex;
	justify-content: center;
	background-color: gold;
	border-radius:  50%;
	margin: 5px auto;
	width: 22.5px;
	height: 22.5px;
	border:  2px solid orange;
	z-index: 3;
}
.point:after {
	position: absolute;
	content: '';
	width: 4px;
	height: 14px;
	top:  2.25px;
	left:  7.25px;
	background-color: orange;
}
